<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
        <h1>WELCOME TO THE STUDENT PORTAL!</h1>

        <form action="" method="post">
            {% csrf_token %}

            <textarea rows="5" cols="50" name="customMessage">
                Enter the custom message
            </textarea>
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>

        <a href="/financials/">Financials</a><br>
        <a href="/course/">Course</a><br>
        <a href="/directory/">Directory</a>
</body>
</html>