<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>WELCOME TO THE STUDENT PORTAL!</h1>
    {{ Message }}

    <br>
    <br>

        <a href="/financials/">Financials</a><br>
        <a href="/course/">Course</a><br>
        <a href="/directory/">Directory</a>
</body>
</html>