<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body ng-app="FinancialModule">
    <div class="container-fluid" ng-controller="FinancialController">
        My favorite fruit is {[{favoriteFruit}]}
        <div class="jumbotron">
            <div class="center-block text-center">
                <form class="form-inline" action="" method="post">
                    {%  csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="feeAmount">Amount (in Rupees)</label>
                        <div class="input-group">
                            <div class="input-group-addon">Rs</div>
                            <input type="text" class="form-control" name="fees" id="feeAmount" placeholder="Amount">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Pay Fees</button>
                </form>
            </div>
            <div>
                <ul>
                    {% for record in courses %}
                        <li>
                            {{ record.courseName }}
                        </li>

                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
    {% load static %}
    <script src="{% static 'js/FinancialModule.js' %}"></script>
</body>
</html>